.btop {
    border-top: 1px dotted black;
}

.hdandp {
    color: #000000;
    padding: 30px 75px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hdandp h1 {
    color: rgb(14, 10, 56);
}

.hdandp p {
    line-height: 1.7;
    text-align: justify;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}

.hdandp ol {
    padding-left: 25px;
}

.hdandp ol li {
    padding: 10px 0px;
    line-height: 1.5;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}

.hdandp ol li span {
    font-weight: 500;
}

.button {
    position: relative;
    overflow: hidden;
    height: 4rem;
    border-radius: 2rem;
    background: rgb(14, 10, 56);
    background-size: 400%;
    border: none;
    cursor: pointer;
}

.button a {
    padding: 0 2rem;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-family: "Rajdhani", sans-serif;
}

.button:hover::before {
    transform: scaleX(1);
}

.button-content {
    position: relative;
    z-index: 1;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(82.3deg,
            rgba(150, 93, 233, 1) 10.8%,
            rgba(99, 88, 238, 1) 94.3%);
    transition: all 0.475s;
}

.ddbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 50px 0;
}


@media (max-width:765px) {
    .hdandp {
        padding: 25px 25px;
    }

    .hdandp h1 {
        font-size: 24px;
    }

    .button a {
        padding: 0 1rem;
        font-size: 1.25rem;
    }
}